<div class="flex items-center" style="margin-bottom: 20px">
    <h3 class="font-semibold">Change Password</h3>
</div>

<div class="flex items-center w-1/2 justify-end button-container" style="margin-bottom: 20px">
    <p-button icon="pi pi-check" class="mr-2" label="Save" (onClick)="apiChangePassword()" />
</div>

<div class="card w-1/2" style="margin-bottom: 20px">
    <div class="flex flex-col">
        <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
        <p-password id="password1" [(ngModel)]="oldPassword" placeholder="Password" [toggleMask]="true" styleClass="mb-4" [fluid]="true" [feedback]="false"></p-password>

        <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
        <p-password id="password1" [(ngModel)]="newPassword" placeholder="Password" [toggleMask]="true" styleClass="mb-4" [fluid]="true" [feedback]="false"></p-password>

        <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Reconfirm Password</label>
        <p-password id="password1" [(ngModel)]="reconfirmPassword" placeholder="Password" [toggleMask]="true" styleClass="mb-4" [fluid]="true" [feedback]="false"></p-password>

    </div>
</div>


